{% extends 'layouts/base.html' %}

{% block title %}
    Create Student
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col">
            <form method="POST" class="container">
                <div class="mb-3">
                    <label for="identification">ID</label>
                    <input class="form-control" type="text" id="identification" name="identification" required>
                </div>
                <div class="mb-3">
                    <label for="name">Name</label>
                    <input class="form-control" type="text" id="name" name="name" required>
                </div>
                <div class="mb-3">
                    <label for="surname">Surname</label>
                    <input class="form-control" type="text" id="surname" name="surname" required>
                </div>
                <div class="mb-3">
                    <label for="phone_number">Phone Number</label>
                    <input class="form-control" type="text" id="phone_number" name="phone_number" required>
                </div>
                <div class="mb-3">
                    <label for="email">Email</label>
                    <input class="form-control" type="email" id="email" name="email" required>
                </div>
                <div class="mb-3">
                    <label for="semester">Semester</label>
                    <input class="form-control" type="text" id="semester" name="semester" required>
                </div>
                <button type="submit" class="btn btn-success">Guardar</button>
            </form>
        </div>
        <div class="col-3"></div>
    </div>
</div>  
    
{% endblock %}