{% extends 'layouts/base.html' %} {% block title %} Edit Product {% endblock %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col">
            <form method="POST" class="container">
                <div class="mb-3">
                    <label for="category_id">category_id</label>
                    <input class="form-control" type="number" id="category_id" name="category_id" value="{{product[1]}}">
                </div>
                <div class="mb-3">
                    <label for="supplier_id">supplier_id</label>
                    <input class="form-control" type="number" id="supplier_id" name="supplier_id" value="{{product[2]}}">
                </div>
                <div class="mb-3">
                    <label for="name">name</label>
                    <input class="form-control" type="text" id="name" name="name" value="{{product[3]}}">
                </div>
                <div class="mb-3">
                    <label for="description">description</label>
                    <input class="form-control" type="text" id="description" name="description" value="{{product[4]}}">
                </div>
                <div class="mb-3">
                    <label for="value">value</label>
                    <input class="form-control" type="text" id="value" name="value" value="{{product[5]}}">
                </div>
                <div class="mb-3">
                    <label for="date_admission">date_admission</label>
                    <input class="form-control" type="date" id="date_admission" name="date_admission" value="{{poduct[6]}}">
                </div>
                <div class="mb-3">
                    <label for="due_date">due_date</label>
                    <input class="form-control" type="date" id="due_date" name="due_date" value="{{product[7]}}">
                </div>
                <button type="submit" class="btn btn-success">Guardar</button>
            </form>
        </div>
        <div class="col-3"></div>
    </div>
</div>


{% endblock %}