{% extends 'layouts/base.html' %}

{% block title %}
    Select Student Assistance
{% endblock %}

{% block content %}
<div class="container mt-3 row">
    <div class="col-4"></div>
    <div class="mb-3 col">
        <form  method="POST">
            <div class="col"></div>
            <select name="period" class="form-control">
                <option selected='true' disabled>Period</option>
                {% if periods %}
                    {% for period in periods %}
                        {% if pd == period[0] %}
                            <option selected='True' disabled value="{{period[0]}}">{{period[1]}}-{{period[2]}}</option>
                        {% else %}
                            <option value="{{period[0]}}">{{period[1]}}-{{period[2]}}</option>
                        {% endif %}
                    {% endfor %}
                {% endif%}
            </select>
        </div>
    <div class="col-3"> <button type="submit" class="btn btn-dark" >Choose</button></div>
    </form>
</div>
<div class="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col">
            <a class="btn btn-dark" href="{{url_for('createStudent')}}" >New Student</a>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Identification</th>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Phone Number</th>
                        <th>Email</th>
                        <th>Semester</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in students %}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>{{student[1]}}</td>
                        <td>{{student[2]}}</td>
                        <td>{{student[3]}}</td>
                        <td>{{student[4]}}</td>
                        <td>{{student[5]}}</td>
                        <td>{{student[6]}}</td>
                        <td>
                            <a class="btn btn-success" href="{{url_for('createAssistance', idStudent=student[0])}}"> Select</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-5"></div>
    </div>
</div>
    {% endblock %}