{% extends 'layouts/base.html' %}

{% block title %}
    Note Student
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col">
            <h2>Note Student:</h2>
            <div class="mb-3">
                <label>ID</label>
                <input class="form-control"  value="{{editNote[0]}}" disabled>
            </div>
            <div class="mb-3">
                <label>Name:</label>
                <input class="form-control"  value="{{editNote[1]}} {{editNote[2]}}" disabled>
            </div>
            <div class="mb-3">
                <label>Semester:</label>
                <input class="form-control" value="{{editNote[3]}}" disabled>
            </div>
            <form  method="POST">
                <div class="mb-3">
                    <label for="note">Note</label>
                    <input class="form-control" id="note" name="note" value="{{editNote[4]}}">
                </div>
                <div class="mb-3">
                    <label for="commentary">Commentary</label>
                    <input  class="form-control" id="commentary" name="commentary" value="{{editNote[5]}}">
                </div>
                <button type="submit" class="btn btn-success">Save</button>
            </form>
        </div>
        <div class="col-3"></div>
    </div>
</div>
{% endblock %}