{% extends 'layouts/base.html' %}

{% block title %}
    Create Activities AND  Partials
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-1">
            
        </div>
        <div class="col"><form method="POST">
            <div class="mb-3">
                <label for="name">Name</label>
                <input class="form-control" type="text" name="name" id="name" required>
            </div>
            <div class="mb-3">
                <label for="date">Date</label>
                <input class="form-control" type="date" name="date" id="date" required>
            </div>
            <div class="mb-3">
                <label for="cut">Cut</label>
                <input class="form-control" type="number" name="cut" id="cut" required>
            </div>
            <div class="mb-3">
                <label for="porcentage">Porcentage In Cut</label>
                <input class="form-control" type="number" min="0,0" max="10" name="porcentage" id="porcentage" required>
            </div>
            <button class="btn btn-success" type="submit">Save</button>
        </form></div>
        <div class="col-3"></div>
    </div>
</div>
    
{% endblock %}