{% extends 'layouts/base.html' %}

{% block title %}
    Activity Partials
{% endblock %}

{% block content %}

<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="btn btn-light" href="{{url_for('indexActivities')}}"> Activity & Partials </a>
        <a class="btn btn-light" href="{{url_for('indexSession')}}"> Sessions </a>
    </div>
</nav>
<div class="container mt-3 row">
    <div class="col-4"></div>
    <div class="mb-3 col">
        <form  method="POST">
            <div class="col"></div>
            <select name="space" class="form-control">
                <option selected='true' disabled>Academic Space</option>
                {% if academicSpaces %}
                    {% for space in academicSpaces %}
                        {% if pd == space[0] %}
                            <option selected='True' disabled value="{{space[0]}}">{{space[2]}} - {{space[3]}}</option>
                        {% else %}
                            <option value="{{space[0]}}">{{space[2]}} - {{space[3]}}</option>
                        {% endif %}
                    {% endfor %}
                {% endif%}
            </select>
        </div>
    <div class="col-3"> <button type="submit" class="btn btn-dark" >Choose</button></div>
    </form>
</div>

<div class="container">
    <div class="row">
        <div class="col-1">
        </div>
        <div class="col"><a class="btn btn-dark mt-2" href="{{url_for('createActivitiesPartials')}}">New Activity Partial</a>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Cut</th>
                        <th>Porcentage In Cut</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for activity in activities %}
                        <tr>
                            <td>{{loop.index}}</td>
                            <td><a class="btn" href="{{url_for('indexNotes', idActivity = activity[0])}}">{{activity[4]}}</a></td>
                            <td>{{activity[2]}}</td>
                            <td>{{activity[3]}}</td>
                            <td>{{activity[5]}}</td>
                            <td>
                                <a class="btn btn-success"  href="{{url_for('editActivitiesPartials', idActivity=activity[0])}}">Edit</a>
                                <a class="btn btn-danger" href="{{url_for('removeActivity', idActivity=activity[0])}}" >Remove</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table></div>
        <div class="col-2"></div>
    </div>
</div>

{% endblock %}